<div class="container">
<form class="form-container" (submit)="onSubmit($event)">
  <div class="form-field-container">
    <label for="name">Nome:</label>
    <input id="name" name="name" type="text" ngModel required  maxlength="100">
  </div>
  <div class="form-field-container">
    <label for="email">Email:</label>
    <input id="email" name="email" type="email" ngModel required>
  </div>
  <div class="form-field-container">
    <label for="cpf">CPF:</label>
    <input id="cpf" name="cpf" type="text" ngModel required mask="000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
  </div>
  <div class="form-field-container">
    <label for="phone">Telefone:</label>
    <input id="phone" name="phone" type="text" ngModel mask="(00) 0000-0000" pattern="(\(\d{2}\)\s\d{4}-\d{4})">
  </div>
  <div>
    <p class="form-field-label" [class.shake]="shouldShake">Selecione até 3 items que você tem conhecimento</p>
    <div class="course-selection-container">
      <div
        class="course-card"
        *ngFor="let course of courses"
        [ngStyle]="{
          'background-color': selectedCourses.includes(course.id) ? '#D548D3' : '#320B31',
          'border-color': selectedCourses.includes(course.id) ? '#D548D3' : 'white'
        }"
        (click)="handleCourseSelection(course.id)"
      >
        {{ course.name }}
      </div>
    </div>
  </div>
  <button type="submit">Enviar</button>
</form>
</div>
